<div class="restaurants" *ngFor="let restaurant of restaurantsInfo">

    <h2>{{restaurant.name}}</h2>

    <div class="michelinStar">
        <!-- Check if the restaurant hasn't recevied a Michelin star -->
        <p *ngIf="!restaurant.michelinStar">Restaurangen har inte fått någon michelinstjärna ännu.</p>
        <!-- Check if the restaurant has recevied a Michelin star -->
        <p *ngIf="restaurant.michelinStar">Den här restaurangen har en michelinstjärna!</p>
    </div>

    <div class="openingHours" *ngFor="let openingHours of restaurant.openingHours">
        <h3><b>Öppettider:</b></h3>
        <p>Måndag: {{openingHours.mon}}</p>
        <p>Tisdag: {{openingHours.tue}}</p>
        <p>Ondag: {{openingHours.wed}}</p>
        <p>Torsdag: {{openingHours.thu}}</p>
        <p>Fredag: {{openingHours.fri}}</p>
        <p>Lördag: {{openingHours.sat}}</p>
        <p>Söndag: {{openingHours.sun}}</p>
    </div>

    <h3><b>Meny</b></h3>

    <div class="menu" *ngFor="let menu of restaurant.menu">
        <!-- If the restaurant has a michelin star-->
        <div *ngIf="restaurant.michelinStar == true">
            <p><b>{{menu.name}}</b> - {{menu.price}} kr</p>
            <p>{{menu.description}}</p>
        </div>
        <!--If the restaurant hasn't any michelin stars-->
        <div *ngIf="!restaurant.michelinStar">
            <div *ngFor="let starter of menu.starters">
                <p><b>{{starter.name}}</b> - {{starter.price}} kr</p>
                <p>{{starter.description}}</p>
            </div> 
            <div *ngFor="let main of menu.mainCourse">
                <p><b>{{main.name}}</b> - {{main.price}} kr</p>
                <p>{{main.description}}</p>
            </div> 
            <div *ngFor="let dessert of menu.dessert">
                <p><b>{{dessert.name}}</b> - {{dessert.price}} kr</p>
                <p>{{dessert.description}}</p>
            </div> 
        </div>
    </div>
</div>