/* Styles for restaurant-info component */
:host {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
}

.restaurants {
    max-width: 75ch;
    padding: 1rem;
    background-color: rgb(237, 234, 234);
    border-radius: 4px;
    margin-bottom: 2rem;
}

.restaurants:last-child {
    margin-bottom: 0;
}

.openingHours,
.michelinStar,
.menu {
    padding-bottom: 0.3rem;
}

h2 {
    margin-top: 0.3rem;
}